#artist-table {
	width: 60%;
	margin: 0 auto;
}

	#artist-table tbody tr {
		cursor: pointer;
	}
		#artist-table tbody tr:hover {
			background-color: #3775b2;
		}

#artist-info {
}
.center {
	text-align: center;
}

.container{
	padding: 0 40px;
	margin-top: 50px;
}